.main {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    color: white;

    .most_read {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h3 {
            font-size: x-large;
            font-weight: bold;
        }

        .filter_bar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .filter_bar_left {
                
                .filter_tags {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    .filter_tag {
                        display: none;
                        justify-content: space-between;
                        align-items: center;
                        gap: .5rem;
                        padding: .25rem .75rem;
                        border-radius: 6px;
                        border: 2px solid $color_primary_400;
                        // background-color: $color_primary;
                        color: $color_primary_400;
    
                        .filter_tag_text {
                            font-weight: bold;
                        }
    
                        .filter_tag_delete_icon {
                            display: flex;
                            cursor: pointer;
                            svg {
                                margin-top: .1rem;
                            }
                        }
                        &.opened {
                            display: flex;
                            transition: background-color 0.3s ease-in, color 0.3s ease;
                        }
                    }
                }
                // .filter_tags
            }
            // .filter_bar_left

            .filter_bar_right {
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 1.75rem;

                    li {
                        .search_icon {
                            display: flex;
                            cursor: pointer;
                            svg {}
                        }
                    }

                    li {
                        .filter_icon {
                            display: flex;
                            cursor: pointer;
                            svg {
                                
                            }
                        }
                    }
                }
                // ul
            }
            // .filter_bar_right
        }
        // .filter_bar

        .gallery {
            display: grid;
            // si la caja se hace mas pequeña de 250px salta a 1fr
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); // repeat(5, 1fr) o responsive(lo adapta según mejor le convenga: repeat (auto-fit, minmax(150px, 1fr))
            gap: 1rem;

        }
    }
}




.card {
    background-color: #efefef;
    border-radius: 12px 12px 12px 12px;
    color: $color_dark;
    font-family: 'Roboto';
    // max-width: 400px;

    .card_picture {
        background-color: #ffffff;
        height: 270px;
        border-radius: 12px 12px 0px 0px;
        padding: 1rem 1rem;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .card_content {
        display: flex;
        flex-direction: column;
        padding: .25rem 1rem 1rem 1rem;
        gap: .5rem;
        background-color: $color_primary_400;
        border-radius: 0px 0px 12px 12px;

        .card_content_top {
            display: flex;
            justify-content: space-between;
            // align-items: center;
            padding: 0 .25rem;
            margin-top: 0.5rem;

            .card_content_top_left {
                display: flex;
                flex-direction: column;
                color: $color_secondary_400;


                .card_identifier {
                    display: none;
                }

                .card_title {
                    font-family: 'Nohemi';
                    font-weight: 1000;
                }

                .card_subtitle {
                    font-size: x-small;
                }
            }

            .card_content_top_right {
                font-weight: 900;
                font-size: small;
                color: $color_secondary_400;
                font-family: $font_family_base;

                .amount {}

                .currency {}
            }

            .card_description {
                display: none;
            }
        }

        .card_content_button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;


            .button {
                height: 2.5rem;
                padding: 0 0.75rem;
                border-radius: 8px;
                cursor: pointer;

                &.button_primary {
                    display: flex;
                    align-items: center;
                    width: 30%;
                    background-color: $color_primary_400;
                    font-weight: 500;
                    color: $color_secondary_400;
                    justify-content: center;

                }

                &.fav_button {

                    transition: .3s ease-in;

                    svg {}
                }

                &.fav_button svg:hover {
                    color: $color_secondary_400;
                    scale: 1.1;
                }
            }

            .button_secondary {
                font-weight: 600;
                // background-color: $color_secondary;
                color:$color_secondary_400;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                border-radius: 8px;
                border: 2px solid $color_secondary_400;
                transition: background-color 0.3s ease-in, color 0.3s ease;


                .card_button_secondary_text {}

                .card_button_secondary_icon {
                    margin-top: 0.2rem;
                }
            }

            :hover.button_secondary {
                background-color: $color_secondary_400;
                color: white;

            }
        }



    }
}

//  /card